<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>I from II. example</title>
</head>
<body>
    <div id="app">
<!-- <button type="button" v-on:click="double">UDVOID</button>
<p>{{number}}</p> -->
<!-- <input type="text" v-model="thing" v-on:keydown.13="addItem($event)">
<ul>
    <li v-for="(item, index) of list" v-on:click="removeItem(index)">{{ item }}</li>
</ul> -->
<!-- <select v-model="numbers" multiple size="5">
    <option v-for="i in 5">{{ i }}</option>
</select>
<p>Mid-arifmetics: {{ average }}</p> -->
<!-- <button type="button" v-on:click="decrease">-</button>
{{ number }}
<button type="button" v-on:click="increase">+</button>
<p>Changes Count {{ changesCount }} </p> -->
<input type="checkbox" v-model="visible">
<h1 v-show="visible"> Magical non-vicible Writing!)</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>